[Unit]
Description=Initializes zram swaping

[Service]
Environment=ZRAM_PERCENT=20
ExecStart=/usr/bin/init-zram-swapping
ExecStop=/usr/bin/end-zram-swapping
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
